@using Microsoft.AspNetCore.Identity
@using MVCProject.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCProject</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark custom-navbar border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">University System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home"
                                                                               && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")"
                               asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home"
                                                                               && ViewContext.RouteData.Values["action"]?.ToString() == "Privacy" ? "active" : "")"
                               asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Students" ? "active" : "")"
                                       asp-controller="Students" asp-action="Index">Students</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Departments" ? "active" : "")"
                                       asp-controller="Departments" asp-action="Index">Departments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Courses" ? "active" : "")"
                                       asp-controller="Courses" asp-action="Index">Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Instructors" ? "active" : "")"
                                       asp-controller="Instructors" asp-action="Index">Instructors</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "CourseStudents" ? "active" : "")"
                                       asp-controller="CourseStudents" asp-action="Index">Course Students</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Role" ? "active" : "")"
                                       asp-controller="Role" asp-action="Index">Manage Roles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "CourseRequests" ? "active" : "")"
                                       asp-controller="CourseRequests" asp-action="Index">Course Requests</a>
                                </li>
                            }
                            else if (User.IsInRole("HR"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Students" ? "active" : "")"
                                       asp-controller="Students" asp-action="Index">Students</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Instructors" ? "active" : "")"
                                       asp-controller="Instructors" asp-action="Index">Instructors</a>
                                </li>
                            }
                            else if (User.IsInRole("Instructor"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Instructors"
                                                              && ViewContext.RouteData.Values["action"]?.ToString() == "MyCourse" ? "active" : "")"
                                    asp-controller="Instructors" asp-action="MyCourse">My Courses</a>
                                </li>

                            }
                            else if (User.IsInRole("Student"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Students"
                                                                && ViewContext.RouteData.Values["action"]?.ToString() == "MyProfile" ? "active" : "")"
                                    asp-controller="Students" asp-action="MyProfile">My Profile</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Students"
                                                        && ViewContext.RouteData.Values["action"]?.ToString() == "MyCourses" ? "active" : "")"
                                    asp-controller="Students" asp-action="MyCourses">My Courses</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Students"
                                                        && ViewContext.RouteData.Values["action"]?.ToString() == "Grades" ? "active" : "")"
                                    asp-controller="Students" asp-action="Grades">Grades</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "AvailableCourses" ? "active" : "")"
                                       asp-controller="Students" asp-action="AvailableCourses">Available Courses</a>
                                </li>

                            }
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var firstName = user?.FirstName ?? User.Identity?.Name;

                            <li class="nav-item d-flex align-items-center">
                                <span class="navbar-text text-light me-3">Hello, @firstName!</span>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-outline-light">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" id="loginLink" onclick="openLoginModal()">Login</a>
                            </li>

                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" id="registerLink" onclick="openRegisterModal()">Register</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @if (ViewData["Title"]?.ToString() == "Home Page")
        {
            @RenderBody()
        }
        else
        {
            <div class="container">
                @RenderBody()
            </div>
        }
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MVCProject - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
